/* make it a gradient background */
.aboutContainer {
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}
.aboutImage {
  padding-right: 2%;
}
.textContainer {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutTitle {
 padding-bottom: 10%;
}
.dateText {
  padding-bottom: 10%;
 }