.carousel {
  position: relative;
  left: 35%;
  background-color: grey;
  width: 30%;
  height: 450px;
  /* background-color: black; */
}
.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carouselInner .left {
  width: 10%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.carouselInner .center {
  flex: 90%;
  height: 100%;
}
.carouselInner .right {
  flex: 10%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
