.contactContainer {
  height: 100vh;
}
.contactTitle {
  display: flex;
  justify-content: center;
  padding: 3% 0 3% 0;
}
form {
  margin: 0;
  background-color: black;
  padding: 30px;
}
.contactForm {
  margin: 0;
  width: 50%;
  position: relative;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactInputs {
  padding: 1% 0 1% 0;
  margin: 1% 0 1% 0;
}
