.footerContainer {
  color: black;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 125, 125);
}
.footerLinkContainer {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
  list-style-type: none;
  justify-content: center;
}
.footerContainer a {
  display: flex;
  color: inherit;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
}
.footerLinkContainer li {
  padding: 10%;
}
