.galleryContainer {
  display: flex;
  background-image: url("../assets/images/woodbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.galleryTitle {
  display: flex;
  color: white;
  font-size: 300%;
  padding-bottom: 2%;
  justify-content: center;
}
.galleryScrollContainer {
  display: flex;
  justify-content: center;
}
.galleryScroll {
  position: relative;
  left: 35%;
  background-color: grey;
  width: 30%;
  height: 450px;
}
.gallerySubText {
  color: white;
}
