.landingPage {
  background-color: #faf6f0;
  height: 100vh;
}

.landTitle {
  color: #205f2e;
  display: flex;
  font-size: 50px;
  /* font-weight: 400; */
  justify-content: center;
  padding: 5% 0 2% 0;
}
.imgContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 15%;
  /* background-color: rgb(9, 53, 9); */
  justify-content: space-around;
}
.landImage {
  margin: 2%;
  /* border-radius: 0 10% 0 10%; */
  border-radius: 10%;
  border-color: #205f2e;
  border-style: groove;
  border-width: 5px;
}
/* .landImage:hover {
  transform: scale(0.7);
  transition: 2s ease-out;
} */
.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  top:40%;
  padding-bottom: 10%;
}
.subText {
  margin: 2% 0 2% 0;
  font-size: 130%;
}
.allAboutSubTitle {
  margin: 2% 0 2% 0;
  font-size: 160%;
}