@import url("https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Tai Heritage Pro", serif; */
  font-family: 'Joan', serif;
}

.NavBarContainer {
  display: flex;
  color: black;
  align-items: stretch;
  /* background-color: #1b2853; */
  background-color: rgb(126, 125, 125);
}
.NavBarContainer ul {
  display: flex;
  position: relative;
  left: 15%;
  gap: 2rem;
  padding: 0 10%;
  justify-content: center;
  list-style-type: none;
  align-items: center;
}
.NavBarContainer li {
  font-size: 20px;
  font-weight: 400;
  margin: 0 2%;
  padding: 0 2%;
}
.NavBarContainer li :active {
  background-color: #555;
  transition: ease-in-out 0.7s;
}
.NavBarContainer li :hover {
  background-color: #555;
  transition: 0.4s ease-in-out;
  text-decoration: underline;
}
.NavBarContainer a {
  color: inherit;
  justify-content: space-evenly;
  height: 100%;
  display: inherit;
  align-items: center;
  text-decoration: none;
}
